@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body{
      background-color: #7e391b;
     /* background-color: #9A2717; */
     font-family: poppins,sans-serif;
  }
.header_container{
    text-align: center;
    color: white;
    font-size: 30px;
}
.underline{
    border: 2px solid white;
    width: 200px;
    margin: auto;
    margin-bottom: 50px;
}
/* section */
.section_main_container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.section1_container{
    background-color: rgb(223, 200, 200);
    height: 480px;
    color: #AA481E;
    padding: 10px;
    border-radius: 10px;
}
.section2_container{
    background-color: rgb(223, 200, 200);
    height: 200px;
    color: #AA481E;
    padding: 10px;
    border-radius: 10px;
}
.section_main_container .single_shed{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 20px;
}
input{
    width: 150px;
    height: 35px;
    border: none;
    outline: 0;
    border-radius: 5px;
    margin: 5px;
    color: white;
    background-color: #AA481E;
}
::-webkit-input-placeholder{
    text-align: center;
    color: white;
    font-size: 15px;
}
.total{
    border: 2px solid #AA481E;
}
.section1_container button{
  background-color: #AA481E;
  color: white;
  text-transform: uppercase;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  height: 40px;
  font-weight: 700;
}
.btn_container{
    display: flex;
    justify-content: space-around;
}
.list{
    margin: 10px;
}
ul li{
    list-style-type: none;
}