@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body{
      background-color: #AA481E;
     /* background-color: #9A2717; */
     font-family: poppins,sans-serif;
  }
.header_container{
    text-align: center;
    color: white;
    font-size: 30px;
}
.underline{
    border: 2px solid white;
    width: 200px;
    margin: auto;
}
/* section */
.section_main_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section_main_container .section1_container{
    background-color: white;
    height: 100px;
}
